[submodule "deps/xgboost"]
	path = deps/xgboost
	url = https://github.com/dmlc/xgboost.git

[submodule "deps/aiger"]
	path = deps/aiger
	url = https://github.com/arminbiere/aiger.git

[submodule "deps/kissat"]
	path = deps/kissat
	url = https://github.com/arminbiere/kissat.git

[submodule "deps/cudd"]
	path = deps/cudd
	url = https://github.com/ivmai/cudd.git
	
[submodule "deps/sylvan"]
	path = deps/sylvan
	url = https://github.com/trolando/sylvan.git
